@media screen and (max-width: 780px) {
    * {
        margin: auto;
        font-family: Trebuchet MS;
        font-size: 10pt;
    }
    body {
        background-color: aliceblue;
        overflow: hidden;
        size: 100%;
        position: fixed;
    }
    h1 {
        margin: 0em auto;
        text-align: center;
        font-size: 15pt;
        height: 1vh;
    }
    h3 {
        visibility: hidden;
        margin: 0em auto;
        text-align: center;
        font-size: 15pt;
    }
    #container {
        padding: 0em 0em 0em 0em;
        text-align: center;
        margin: auto;
    }
    #chatInput {
        padding: 0em 0em 0em 0em;
        width: 100vw;
        height: 12vh;
        font-size: 12pt;
        border: .1em solid gainsboro;
        overflow-x: hidden;
    }
    #submit {
        visibility: hidden;
        background-color: azure;
        border: .0em solid gainsboro;
        color: black;
        border-radius: .3em;
        font-size: 12px;
        /*padding: .5em 2em .5em 2em; */
        text-align: center;
        cursor: pointer;
        text-align: center;
    }
    #submit:hover {
        visibility: hidden;
        background-color: aqua;
        color: black;
    }
    #guide {
        visibility: hidden;
    }
    .innerBot {
        font-size: 12px;
        border: .09em solid gainsboro;
        background-color: darksalmon;
        border-radius: 80px 10px / 150px;
        margin-bottom: .15em;
        max-width: 70vw;
        padding: 1.5em;
        display: inline-block;
        text-align: left;
    }
    .innerUser {
        font-size: 12px;
        border: .09em solid gainsboro;
        background-color: lightblue;
        border-radius: 10px 90px / 150px;
        max-width: 70vw;
        padding: 1.5em;
        display: inline-block;
        float: right !important;
        overflow: hidden;
    }
    .wrapper {
        background-color: lavender;
        border-top: solid gainsboro;
        border-bottom: solid gainsboro;
        border-right: none;
        border-left: none;
        width: 95vw;
        height: 82vh;
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: .2em;
        padding: .5em .5em 1em 1em;
    }
    input,
    input:before,
    input:after {
        -webkit-user-select: initial;
        -khtml-user-select: initial;
        -moz-user-select: initial;
        -ms-user-select: initial;
        user-select: initial;
    }
    footer,
    a {
        visibility: hidden;
    }
}