* {
    margin: auto;
    font-family: Trebuchet MS;
    font-size: 12pt;
}

h1,
h3 {
    text-align: center;
    margin: .25em;
    font-size: 20pt;
}

#container {
    text-align: center;
    margin: auto;
}

.innerBot {
    border: .09em solid gainsboro;
    background-color: darksalmon;
    border-radius: 80px 10px / 150px;
    margin-bottom: 1em;
    margin-top: 1em;
    max-width: 35vw;
    padding: 1em;
    display: inline-block;
    text-align: left;
}

.innerUser {
    border: .09em solid gainsboro;
    background-color: lightblue;
    border-radius: 10px 90px / 150px;
    margin-bottom: 1em;
    margin-top: 1em;
    max-width: 35vw;
    padding: 1em;
    display: inline-block;
    float: right !important;
    overflow: hidden;
}

#chatInput {
    margin-top: .3em;
    padding: 0em 0em 0em 0em;
    background-color: whitesmoke;
    border: .25em solid black;
    border-radius: .3em;
    display: block;
    width: 42%;
    height: 2em;
    position: relative;
}

#submit {
    background-color: whitesmoke;
    border: .25em solid black;
    color: black;
    border-radius: .3em;
    font-size: .8em;
    padding: .5em 2em .5em 2em;
    width: 5vw;
    text-align: center;
    cursor: pointer;
    margin-top: .5em;
    min-width: 9vw;
}

#guide {
    background-color: whitesmoke;
    border: .25em solid black;
    color: black;
    font-size: .8em;
    border-radius: .3em;
    padding: .5em 2em .5em 2em;
    text-align: center;
    cursor: pointer;
    margin-top: .5em;
    margin-right: -.1em;
    min-width: 9vw;
}

#submit:hover {
    color: black;
    box-shadow: 1px 1px 1px 1px black;
}

#guide:hover {
    color: black;
    box-shadow: 1px 1px 1px 1px black;
}

.wrapper {
    background-color: whitesmoke;
    border: .25em solid black;
    height: 75vh;
    width: 39vw;
    overflow-y: auto;
    border-radius: .3em;
    padding: 1em 2em 0em 1.5em;
    word-break: break-word;
}

footer {
    margin-top: 1vh;
    text-align: center;
    font: 12pt lightgray;
}

a {
    padding-left: 1em;
}

#policy {
    color: red;
    font-size: 7pt;
    text-decoration: underline;
}