* {
    margin: auto;
    font-family: Trebuchet MS;
}

h1,
h3 {
    margin: auto;
    text-align: center;
    margin: .25em;
}

#container {
    text-align: center;
    position: fixed;
    margin: auto;
    margin-left: 25vw;
}

#submit {
    background-color: white;
    border: .1em solid black;
    border-radius: .3em;
    color: black;
    padding: 2.2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-left: 66.5vw;
    cursor: pointer;
    text-align: center;
    position: fixed;
}

#submit:hover {
    background-color: lightgray;
    color: black;
}

body {
    background-color: aliceblue;
    overflow: auto;
}

#chatInput {
    width: 35vw;
    margin: auto;
}

.inner {
    border: .25em solid gainsboro;
    padding: .3em;
    margin-bottom: .5em;
    width: 40vw;
}


.wrapper {
    background-color: lavender;
    height: 80vh;
    width: 45vw;
    overflow-y: auto;
    font-size: 12pt;
    border-radius: 1.25em;
   padding: 1em 0em .5em 0em;

}